.Collection-Container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Collection-Title {
    font-size: 35px;
    color: yellow;
    text-shadow: 3px 3px indigo;
}

.Collection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.Collection-img {
    width: 250px;
    height: 250px;
    margin: 20px;
    opacity: 0.9;
}

.Collection-img:hover {
    filter: drop-shadow(8px 8px 10px gray);
    opacity: 1;
}

/* .Collection-Overlay {
    position: absolute;
    width: 250px;
    height: 250px;
    border: 3px solid lightgray;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color:  rgba(0, 0, 0, 0.2);
    color: white;
    opacity: 0;
    transition: .5s ease;
}

.Collection-Overlay:hover {
    opacity: 1;
}

.Collection-Downloadimg {
    width: 60px;
    height: 40px;
} */