.Drawingboard{
    width: 500px;
    height: 500px;
    background-color: white;
    border: 5px solid black;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
}

.Drawingboard-Container{
    display: flex;
    margin-right: 50px;
}

.Drawingboard-Buttons{
    display: flex;
    flex-direction: column;
}

.Drawingboard-Button{
    height: 50px;
    font-size: 30px;
    background-color: purple;
    border-color: yellow;
    color: white;
    margin: 5px;
}

.Drawingboard-Button:hover{
    box-shadow: 2px 2px 3px yellow;
}