.ShareImage {
    position: absolute;
    z-index: 1000;
    width: 70%;
    height: 100%;
    background-color: lightgreen;
    border-radius: 2%;
    box-shadow: 2px 2px 20px gray;
}

.ShareImage-Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ShareImage-HeaderTitle {
    color: purple;
    margin-left: 41%;
}

.ShareImage-Content {
    display: flex;
    align-items: flex-start;
}

.ShareImage-img {
    width: 60%;
    margin-left: 20px;
    margin-bottom: 20px;
}

.ShareImage-Buttons {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.ShareImage-Button{
    height: 50px;
    font-size: 30px;
    background-color: purple;
    border-color: yellow;
    color: white;
    margin: 5px;
}

.ShareImage-Button:hover{
    box-shadow: 2px 2px 3px yellow;
}

.ShareImage-Slider {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}