.App {
  text-align: center;
}

.App-Navbar{
  height: 50px;
  background-color: lightgray;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.App-link {
  margin-right: 1em;
  color: white;
  text-decoration: none;
}

.App-link:hover {
  color: var(--yellow);
}