.App {
  text-align: center;
}

.App-NavTitle {
  margin-left: 10px;
  color: purple;
  font-size: 25px;
  font-weight: 900;
}

.App-Navbar{
  height: 50px;
  background-color: gold;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.App-link {
  margin-right: 25px;
  color: green;
  text-decoration: none;
  font-weight: 700;
}

.App-link:hover {
  color: blue;
}